@import url('https://fonts.cdnfonts.com/css/nunito');

body {
    font-family: nunito;
}

.radio-row {
    display: inline-flex;
}

.additional-config {
    display: none;
    font-weight: 700;
}

.config-wrap>div>label {
    display: inline-block;
    width: 150px;
    text-align: center;
}

.config-wrap {
    margin-top: 15px;
    background-color: #cacaca;
    width: fit-content;
    padding: 5px 10px;
}

.config-wrap>div {
    margin-bottom: 10px;
}