@import url('https://fonts.cdnfonts.com/css/nunito');

body {
    font-family: nunito;
}

.display-none {
    display: none;
}

canvas {
    border: 1px black solid;
    max-width: 100%;
}

.download-img {
    border: 1px black solid;
    max-width: min(100%, 400px);
}

.radio-row {
    display: inline-flex;
}

.canvas-config label {
    display: inline-block;
    width: 150px;
    text-align: center;
}

.radio-row label {
    width: fit-content;
}

.lines>div {
    width: fit-content;
    background-color: rgb(214, 214, 214);
    margin: 7px 0;
    padding: 5px;
}